:root {
  --clr-txt-primary: #f14f4f;
}
.App {
  height: auto;
  margin: 0;

}
body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.2rem;
}

.App-header {
  display: flex;
  height: 200px;
  width: 100%;
  border-bottom: 4px solid var(--clr-txt-primary);
  align-items: center;
}
.App-header img {
  height:200px;
  width: 200px;
}
.App-header h1 {
  color: var(--clr-txt-primary);
  text-align: center;
  margin-left: 20px;
}
.App-body {
height: 62vh;
}
.App-body p {
  margin: 40px;
}
.App-footer {
  text-align: center;
  border-top: 4px solid var(--clr-txt-primary);
}
.App-footer p {
  font-style: italic;
}
